<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ajouter une annonce</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <form a (ngSubmit)="ajouterAnnonce()" >
      <ion-item lines="full">
        <ion-label position="floating">ID :</ion-label>
        <ion-input type="text" [(ngModel)]="annonce.id"  name="idAnnonce" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">titre : </ion-label>
        <ion-input type="text" [(ngModel)]="annonce.titre" name="titreAnnonce" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">texte : </ion-label>
        <ion-input type="text" [(ngModel)]="annonce.texte" name="texteAnnonce" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">date : </ion-label>
        <ion-input type="date" name="dateAnnonce" [(ngModel)]="annonce.date" required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Enregistrer</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>
</ion-content>
