<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Accueil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Page d'accueil</h1>
    <ion-button lines="full" routerLink="/add-annonce">Ajouter une annonce</ion-button>
    <ion-button lines="full" routerLink="/list-annonces">listes des annonces</ion-button>
  </div>
</ion-content>
